In [78]:
import pandas as pd
from pathlib import Path
from tqdm.auto import tqdm
import math

ORBIT_DATA_DIR  = Path(r"E:\interim\step2_normalized_test")
OB_MEET_TIME    = Path(r"E:\tables\orbit_meet_time_condition_test.csv")
OUTPUT_DIR      = Path(r"E:\tables")

print("orbit data directory =", {ORBIT_DATA_DIR})
print("Orbit_meet_time_condion.csv path=", {OB_MEET_TIME})
print("Directory of output", {OUTPUT_DIR})

a = 6378137                                                         # the long radius of the Earth
b = 6356752.314                                                     # the short radius of the Earth

e = math.sqrt((a*a - b*b)/(a*a))                                    # eccentricity of the Earth

df_obmt = pd.read_csv(OB_MEET_TIME)
print(df_obmt)
length_omt = len(df_obmt)

list1 = [[] for k in range(length_omt)]

orbit data directory = {WindowsPath('E:/interim/step2_normalized_test')}
Orbit_meet_time_condion.csv path= {WindowsPath('E:/tables/orbit_meet_time_condition_test.csv')}
Directory of output {WindowsPath('E:/tables')}
    Unnamed: 0                           orbit_file  eq_id  \
0            0  DMT_N1_1132_00197.1_step1_step2.csv    383
1            1  DMT_N1_1132_00198.1_step1_step2.csv    383
2            2  DMT_N1_1132_00582.1_step1_step2.csv    434
3            3  DMT_N1_1132_00583.1_step1_step2.csv    434
4            4  DMT_N1_1132_00584.1_step1_step2.csv    434
5            5  DMT_N1_1132_00591.1_step1_step2.csv    435
6            6  DMT_N1_1132_00592.1_step1_step2.csv    435
7            7  DMT_N1_1132_00593.1_step1_step2.csv    435
8            8  DMT_N1_1132_00595.1_step1_step2.csv    436
9            9  DMT_N1_1132_00596.1_step1_step2.csv    436
10          10  DMT_N1_1132_00597.1_step1_step2.csv    436
11          11  DMT_N1_1132_00608.1_step1_step2.csv    437
12          12  DMT_N1_1132_00609.1_step1_step2.csv    437
13          13  DMT_N1_1132_00610.1_step1_step2.csv    437
14          14  DMT_N1_1132_00622.1_step1_step2.csv    438
15          15  DMT_N1_1132_00623.1_step1_step2.csv    438
16          16  DMT_N1_1132_00622.1_step1_step2.csv    439
17          17  DMT_N1_1132_00623.1_step1_step2.csv    439
18          18  DMT_N1_1132_00624.1_step1_step2.csv    439
19          19  DMT_N1_1132_00633.1_step1_step2.csv    440
20          20  DMT_N1_1132_00634.1_step1_step2.csv    440
21          21  DMT_N1_1132_00635.1_step1_step2.csv    440
22          22  DMT_N1_1132_00662.1_step1_step2.csv    441
23          23  DMT_N1_1132_00663.1_step1_step2.csv    441
24          24  DMT_N1_1132_00664.1_step1_step2.csv    441
25          25  DMT_N1_1132_00679.1_step1_step2.csv    442

                        4hour_before                          datetime  \
0   2004-07-15 23:27:19.210000+00:00  2004-07-16 03:27:19.210000+00:00
1   2004-07-15 23:27:19.210000+00:00  2004-07-16 03:27:19.210000+00:00
2   2004-08-11 11:48:26.820000+00:00  2004-08-11 15:48:26.820000+00:00
3   2004-08-11 11:48:26.820000+00:00  2004-08-11 15:48:26.820000+00:00
4   2004-08-11 11:48:26.820000+00:00  2004-08-11 15:48:26.820000+00:00
5   2004-08-12 03:00:22.600000+00:00  2004-08-12 07:00:22.600000+00:00
6   2004-08-12 03:00:22.600000+00:00  2004-08-12 07:00:22.600000+00:00
7   2004-08-12 03:00:22.600000+00:00  2004-08-12 07:00:22.600000+00:00
8   2004-08-12 08:55:14.980000+00:00  2004-08-12 12:55:14.980000+00:00
9   2004-08-12 08:55:14.980000+00:00  2004-08-12 12:55:14.980000+00:00
10  2004-08-12 08:55:14.980000+00:00  2004-08-12 12:55:14.980000+00:00
11  2004-08-13 06:48:38.930000+00:00  2004-08-13 10:48:38.930000+00:00
12  2004-08-13 06:48:38.930000+00:00  2004-08-13 10:48:38.930000+00:00
13  2004-08-13 06:48:38.930000+00:00  2004-08-13 10:48:38.930000+00:00
14  2004-08-14 04:43:26.820000+00:00  2004-08-14 08:43:26.820000+00:00
15  2004-08-14 04:43:26.820000+00:00  2004-08-14 08:43:26.820000+00:00
16  2004-08-14 05:56:04.790000+00:00  2004-08-14 09:56:04.790000+00:00
17  2004-08-14 05:56:04.790000+00:00  2004-08-14 09:56:04.790000+00:00
18  2004-08-14 05:56:04.790000+00:00  2004-08-14 09:56:04.790000+00:00
19  2004-08-14 23:41:17.550000+00:00  2004-08-15 03:41:17.550000+00:00
20  2004-08-14 23:41:17.550000+00:00  2004-08-15 03:41:17.550000+00:00
21  2004-08-14 23:41:17.550000+00:00  2004-08-15 03:41:17.550000+00:00
22  2004-08-16 23:13:18.320000+00:00  2004-08-17 03:13:18.320000+00:00
23  2004-08-16 23:13:18.320000+00:00  2004-08-17 03:13:18.320000+00:00
24  2004-08-16 23:13:18.320000+00:00  2004-08-17 03:13:18.320000+00:00
25  2004-08-18 03:06:52.430000+00:00  2004-08-18 07:06:52.430000+00:00

    eq_lat   eq_lon  depth  mag
0   13.323  120.170   39.1  5.0
1   13.323  120.170   39.1  5.0
2   38.377   39.261    7.4  5.7
3   38.377   39.261    7.4  5.7
4   38.377   39.261    7.4  5.7
5   -0.230  125.194   25.0  4.8
6   -0.230  125.194   25.0  4.8
7   -0.230  125.194   25.0  4.8
8   -3.907  141.670   33.6  5.2
9   -3.907  141.670   33.6  5.2
10  -3.907  141.670   33.6  5.2
11  30.922   69.769   11.6  5.4
12  30.922   69.769   11.6  5.4
13  30.922   69.769   11.6  5.4
14 -60.568  -25.549   35.0  5.0
15 -60.568  -25.549   35.0  5.0
16 -27.983   63.490   10.0  4.8
17 -27.983   63.490   10.0  4.8
18 -27.983   63.490   10.0  4.8
19  -6.238 -107.154   10.0  5.6
20  -6.238 -107.154   10.0  5.6
21  -6.238 -107.154   10.0  5.6
22   8.389  138.417   10.0  4.9
23   8.389  138.417   10.0  4.9
24   8.389  138.417   10.0  4.9
25   2.265  -76.595   26.5  5.1

In [79]:
for i in range(length_omt):
    list2 = []
    orbit_file_name = df_obmt["orbit_file"].iloc[i]
    
    orbit_data_path = ORBIT_DATA_DIR / orbit_file_name

    df_obdata = pd.read_csv(orbit_data_path)

    
    for j in range(len(df_obdata)):
        lat1 = df_obmt["eq_lat"].iloc[i] * math.pi/180
        lon1 = df_obmt["eq_lon"].iloc[i] * math.pi/180

        lat2 = df_obdata["lat"].iloc[j] * math.pi/180
        lon2 = df_obdata["lon"].iloc[j] * math.pi/180

        dif_lat = lat2 - lat1
        dif_lon = lon2 - lon1
        if dif_lon > math.pi:
            dif_lon -= 2*math.pi
        elif dif_lon < -math.pi:
            dif_lon += 2*math.pi
        
        P = (lat1+lat2) / 2                                         # 両点緯度の平均値
        W = math.sqrt((1-e*e * math.sin(P) * math.sin(P)))
        M = (a*(1 - e*e)) / (W * W * W)
        N = a / W

        dist = math.sqrt(dif_lat*dif_lat*M*M + dif_lon*dif_lon*N*N*math.cos(P)*math.cos(P))
        dist = dist / 1000                                          # 単位[km] => [m]

        if dist < 330:
            beforeq = pd.to_datetime(df_obmt["4hour_before"].iloc[i]).tz_localize(None)
            print("beforeq", beforeq, "type=", type(beforeq))
            starteq = pd.to_datetime(df_obmt["datetime"].iloc[i]).tz_localize(None)
            print("starteq", starteq, "type=", type(starteq))
            s1 = pd.to_datetime(df_obdata["datetime"].iloc[j])
            print("s1", s1, "type=", type(s1))

            if beforeq <= s1 <= starteq:
                list2.append(orbit_file_name)
                break
    
    print(list2)
    list1[i] = list2

[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
beforeq 2004-08-12 08:55:14.980000 type= <class 'pandas._libs.tslibs.timestamps.Timestamp'>
starteq 2004-08-12 12:55:14.980000 type= <class 'pandas._libs.tslibs.timestamps.Timestamp'>
s1 2004-08-12 12:47:51.523000064 type= <class 'pandas._libs.tslibs.timestamps.Timestamp'>
['DMT_N1_1132_00597.1_step1_step2.csv']
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]
[]

In [ ]:
print(list1)
data = pd.DataFrame(list1)
output_one = pd.concat([data, df_obmt], axis=1)
print(output_one)

[[], [], [], [], [], [], [], [], [], [], ['DMT_N1_1132_00597.1_step1_step2.csv'], [], [], [], [], [], [], [], [], [], [], [], [], [], [], []]
                                      0  Unnamed: 0  \
0                                  None           0
1                                  None           1
2                                  None           2
3                                  None           3
4                                  None           4
5                                  None           5
6                                  None           6
7                                  None           7
8                                  None           8
9                                  None           9
10  DMT_N1_1132_00597.1_step1_step2.csv          10
11                                 None          11
12                                 None          12
13                                 None          13
14                                 None          14
15                                 None          15
16                                 None          16
17                                 None          17
18                                 None          18
19                                 None          19
20                                 None          20
21                                 None          21
22                                 None          22
23                                 None          23
24                                 None          24
25                                 None          25

                             orbit_file  eq_id  \
0   DMT_N1_1132_00197.1_step1_step2.csv    383
1   DMT_N1_1132_00198.1_step1_step2.csv    383
2   DMT_N1_1132_00582.1_step1_step2.csv    434
3   DMT_N1_1132_00583.1_step1_step2.csv    434
4   DMT_N1_1132_00584.1_step1_step2.csv    434
5   DMT_N1_1132_00591.1_step1_step2.csv    435
6   DMT_N1_1132_00592.1_step1_step2.csv    435
7   DMT_N1_1132_00593.1_step1_step2.csv    435
8   DMT_N1_1132_00595.1_step1_step2.csv    436
9   DMT_N1_1132_00596.1_step1_step2.csv    436
10  DMT_N1_1132_00597.1_step1_step2.csv    436
11  DMT_N1_1132_00608.1_step1_step2.csv    437
12  DMT_N1_1132_00609.1_step1_step2.csv    437
13  DMT_N1_1132_00610.1_step1_step2.csv    437
14  DMT_N1_1132_00622.1_step1_step2.csv    438
15  DMT_N1_1132_00623.1_step1_step2.csv    438
16  DMT_N1_1132_00622.1_step1_step2.csv    439
17  DMT_N1_1132_00623.1_step1_step2.csv    439
18  DMT_N1_1132_00624.1_step1_step2.csv    439
19  DMT_N1_1132_00633.1_step1_step2.csv    440
20  DMT_N1_1132_00634.1_step1_step2.csv    440
21  DMT_N1_1132_00635.1_step1_step2.csv    440
22  DMT_N1_1132_00662.1_step1_step2.csv    441
23  DMT_N1_1132_00663.1_step1_step2.csv    441
24  DMT_N1_1132_00664.1_step1_step2.csv    441
25  DMT_N1_1132_00679.1_step1_step2.csv    442

                        4hour_before                          datetime  \
0   2004-07-15 23:27:19.210000+00:00  2004-07-16 03:27:19.210000+00:00
1   2004-07-15 23:27:19.210000+00:00  2004-07-16 03:27:19.210000+00:00
2   2004-08-11 11:48:26.820000+00:00  2004-08-11 15:48:26.820000+00:00
3   2004-08-11 11:48:26.820000+00:00  2004-08-11 15:48:26.820000+00:00
4   2004-08-11 11:48:26.820000+00:00  2004-08-11 15:48:26.820000+00:00
5   2004-08-12 03:00:22.600000+00:00  2004-08-12 07:00:22.600000+00:00
6   2004-08-12 03:00:22.600000+00:00  2004-08-12 07:00:22.600000+00:00
7   2004-08-12 03:00:22.600000+00:00  2004-08-12 07:00:22.600000+00:00
8   2004-08-12 08:55:14.980000+00:00  2004-08-12 12:55:14.980000+00:00
9   2004-08-12 08:55:14.980000+00:00  2004-08-12 12:55:14.980000+00:00
10  2004-08-12 08:55:14.980000+00:00  2004-08-12 12:55:14.980000+00:00
11  2004-08-13 06:48:38.930000+00:00  2004-08-13 10:48:38.930000+00:00
12  2004-08-13 06:48:38.930000+00:00  2004-08-13 10:48:38.930000+00:00
13  2004-08-13 06:48:38.930000+00:00  2004-08-13 10:48:38.930000+00:00
14  2004-08-14 04:43:26.820000+00:00  2004-08-14 08:43:26.820000+00:00
15  2004-08-14 04:43:26.820000+00:00  2004-08-14 08:43:26.820000+00:00
16  2004-08-14 05:56:04.790000+00:00  2004-08-14 09:56:04.790000+00:00
17  2004-08-14 05:56:04.790000+00:00  2004-08-14 09:56:04.790000+00:00
18  2004-08-14 05:56:04.790000+00:00  2004-08-14 09:56:04.790000+00:00
19  2004-08-14 23:41:17.550000+00:00  2004-08-15 03:41:17.550000+00:00
20  2004-08-14 23:41:17.550000+00:00  2004-08-15 03:41:17.550000+00:00
21  2004-08-14 23:41:17.550000+00:00  2004-08-15 03:41:17.550000+00:00
22  2004-08-16 23:13:18.320000+00:00  2004-08-17 03:13:18.320000+00:00
23  2004-08-16 23:13:18.320000+00:00  2004-08-17 03:13:18.320000+00:00
24  2004-08-16 23:13:18.320000+00:00  2004-08-17 03:13:18.320000+00:00
25  2004-08-18 03:06:52.430000+00:00  2004-08-18 07:06:52.430000+00:00

    eq_lat   eq_lon  depth  mag
0   13.323  120.170   39.1  5.0
1   13.323  120.170   39.1  5.0
2   38.377   39.261    7.4  5.7
3   38.377   39.261    7.4  5.7
4   38.377   39.261    7.4  5.7
5   -0.230  125.194   25.0  4.8
6   -0.230  125.194   25.0  4.8
7   -0.230  125.194   25.0  4.8
8   -3.907  141.670   33.6  5.2
9   -3.907  141.670   33.6  5.2
10  -3.907  141.670   33.6  5.2
11  30.922   69.769   11.6  5.4
12  30.922   69.769   11.6  5.4
13  30.922   69.769   11.6  5.4
14 -60.568  -25.549   35.0  5.0
15 -60.568  -25.549   35.0  5.0
16 -27.983   63.490   10.0  4.8
17 -27.983   63.490   10.0  4.8
18 -27.983   63.490   10.0  4.8
19  -6.238 -107.154   10.0  5.6
20  -6.238 -107.154   10.0  5.6
21  -6.238 -107.154   10.0  5.6
22   8.389  138.417   10.0  4.9
23   8.389  138.417   10.0  4.9
24   8.389  138.417   10.0  4.9
25   2.265  -76.595   26.5  5.1